@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.logo-fill {
    fill: #000000;
    transition: fill 0.3s ease;
}

.dark .logo-fill {
    fill: white;
}

.name-highlight {
    color: #1d4ed8;
    transition: color 0.3s ease;
}

.dark .name-highlight {
    color: #60a5fa;
}

.description-text {
    color: #4b5563;
    transition: color 0.3s ease;
}

.dark .description-text {
    color: #d1d5db;
}