@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

body {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.black-gradient {
  background: linear-gradient(90deg, #161030 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(90deg, #161030 0%, rgba(60, 51, 80, 0) 100%);
}