@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

body.menu-open main {
    filter: blur(4px);
    transition: filter 0.3s ease-in-out;
}

main {
    transition: filter 0.3s ease-in-out;
}

.logo-fill {
    fill: #000000;
    transition: fill 0.3s ease;
}

.dark .logo-fill {
    fill: white;
}

.description-text {
    color: #4b5563;
    transition: color 0.3s ease;
}

.dark .description-text {
    color: #d1d5db;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}