---
import { Navbar } from "../components/Navbar";
import '../styles/globals.css';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>Dominic Lim</title>
        <meta name="description" content="I am passionate about coding, solving complex problems, and building useful projects that make a difference! " />
        <link rel="icon" type="image/svg+xml" href="/domLogo.svg" />
    </head>
    <body class="text-gray-900 dark:text-white font-poppins">
        <Navbar client:load />

        <main class="pt-16 sm:pt-20">
            <slot />
        </main>
    </body>
</html>