---
import { Logo } from "../components/Logo"
---

<html>
    <head>
        <title>Dominic Lim</title>
        <link rel="icon" type="image/svg+xml" href="/domLogo.svg">
    </head>
    <body>
        
    </body>
</html>